body {
    background:#0d0d0d; color:#fff; font-family:Arial; text-align:center;
}

.container {
    width:900px; margin:auto; padding-top:25px;
}

.panel {
    display:flex; gap:10px; justify-content:center; margin-bottom:20px;
}

.upload-box {
    padding:10px 15px; background:#222; border:1px solid #444; cursor:pointer; border-radius:6px;
}

select, button {
    padding:10px 15px; background:#222; border:1px solid #444; color:#fff; border-radius:6px; cursor:pointer;
}

.preview-container {
    display:flex; gap:15px; justify-content:center; margin-top:20px;
}

.box {
    background:#111; padding:10px; border-radius:6px;
}

img {
    max-width:400px; border-radius:6px;
}

.progress {
    width:70%; height:10px; background:#222; margin:20px auto; border-radius:6px;
}

#bar {
    height:100%; width:0%; background:#0f0; border-radius:6px;
}

#downloadBtn {
    display:block; margin-top:15px; padding:10px 15px; background:#0077ff;
    border-radius:6px; text-decoration:none; color:#fff;
}
